<!DOCTYPE html>
<html lang="en">

<head>
	{% include "gentelella/includes/header.html" %}


	<!--[if lt IE 9]>
	<script src="../assets/js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>


<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			{% include "gentelella/includes/leftandtop.html" %}

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">

					<div class="page-title">
						<div class="title_left">
							<h3>Add a Notice</h3>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">


					</div>
				</div>

				<div id="custom_notifications" class="custom-notifications dsp_none">
					<ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
					</ul>
					<div class="clearfix"></div>
					<div id="notif-group" class="tabbed_notifications"></div>
				</div>

				<footer>
					{% include "gentelella/includes/footer.html" %}

				</footer>

				<script src="/static/gentelella/js/bootstrap.min.js"></script>

				<!-- chart js -->
				<script src="/static/gentelella/js/chartjs/chart.min.js"></script>
				<!-- bootstrap progress js -->
				<script src="/static/gentelella/js/progressbar/bootstrap-progressbar.min.js"></script>
				<script src="/static/gentelella/js/nicescroll/jquery.nicescroll.min.js"></script>
				<!-- icheck -->
				<script src="/static/gentelella/js/icheck/icheck.min.js"></script>
				<!-- tags -->
				<script src="/static/gentelella/js/tags/jquery.tagsinput.min.js"></script>
				<!-- switchery -->
				<script src="/static/gentelella/js/switchery/switchery.min.js"></script>
				<!-- daterangepicker -->
				<script type="text/javascript" src="/static/gentelella/js/moment.min2.js"></script>
				<script type="text/javascript" src="/static/gentelella/js/datepicker/daterangepicker.js"></script>
				<!-- richtext editor -->
				<script src="/static/gentelella/js/editor/bootstrap-wysiwyg.js"></script>
				<script src="/static/gentelella/js/editor/external/jquery.hotkeys.js"></script>
				<script src="/static/gentelella/js/editor/external/google-code-prettify/prettify.js"></script>
				<!-- select2 -->
				<script src="/static/gentelella/js/select/select2.full.js"></script>
				<!-- form validation -->
				<script type="text/javascript" src="/static/gentelella/js/parsley/parsley.min.js"></script>
				<!-- textarea resize -->
				<script src="/static/gentelella/js/textarea/autosize.min.js"></script>
				<script>
				autosize($('.resizable_textarea'));
				</script>
				<!-- Autocomplete -->
				<script type="text/javascript" src="/static/gentelella/js/autocomplete/countries.js"></script>
				<script src="/static/gentelella/js/autocomplete/jquery.autocomplete.js"></script>
				<!-- pace -->
				<script src="/static/gentelella/js/pace/pace.min.js"></script>
				<script type="text/javascript">
				$('#btnSubmit').click(function(e) {
					e.preventDefault() ;
					// console.log($("input[name=inputUserType]:checked").val());
					data = {
						'message' : $("#inputMessage").val(),
					}

					console.log(data);
					$.ajax({
						url: '/addNotice/',
						dataType: 'json',
						contentType:'application/json',
						type: 'POST',
						data: JSON.stringify(data),
						success: function(response) {
							window.location = (response)
							console.log(response);
							console.log("Password has been Reset");
							console.log(response.url);
							// data = JSON.parse(response) ;
							window.location = response.url ;
						},
						error: function(error) {
							console.log(error);
						},
						beforeSend: function(xhr, settings) {
							function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie != '') {
									var cookies = document.cookie.split(';');
									for (var i = 0; i < cookies.length; i++) {
										var cookie = jQuery.trim(cookies[i]);
										// Does this cookie string begin with the name we want?
										if (cookie.substring(0, name.length + 1) == (name + '=')) {
											cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
											break;
										}
									}
								}
								return cookieValue;
							}
							if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
								// Only send the token to relative URLs i.e. locally.
								xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
							}
						}

					});
					setTimeout(function() {
						// $this.addClass('ok');
						// $state.html('Welcome back!');
						console.log("error");
					}, 10000);
				});

				</script>
				<!-- editor -->

			</body>

			</html>
