<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap core CSS -->
<link href="/static/gentelella/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/gentelella/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/gentelella/css/animate.min.css" rel="stylesheet">
 <!-- Custom styling plus plugins -->
<link href="/static/gentelella/css/custom.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/gentelella/css/maps/jquery-jvectormap-2.0.3.css" />
<link href="/static/gentelella/css/icheck/flat/green.css" rel="stylesheet" />
<link href="/static/gentelella/css/floatexamples.css" rel="stylesheet" type="text/css" />
<script src="/static/gentelella/js/jquery.min.js"></script>
<script src="/static/gentelella/js/nprogress.js"></script>
<link href="/static/gentelella/css/calendar/fullcalendar.css" rel="stylesheet">
<link href="/static/gentelella/css/calendar/fullcalendar.print.css" rel="stylesheet" media="print">	
<!-- editor -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<link href="/static/gentelella/css/editor/external/google-code-prettify/prettify.css" rel="stylesheet">
<link href="/static/gentelella/css/editor/index.css" rel="stylesheet">
<!-- select2 -->
<link href="/static/gentelella/css/select/select2.min.css" rel="stylesheet">
<!-- switchery -->
<link rel="stylesheet" href="/static/gentelella/css/switchery/switchery.min.css" />
<!-- ion_range -->
<link rel="stylesheet" href="/static/gentelella/css/normalize.css" />
<link rel="stylesheet" href="/static/gentelella/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="/static/gentelella/css/ion.rangeSlider.skinFlat.css" />
<!-- colorpicker -->
<link href="/static/gentelella/css/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/gentelella/css/progressbar/bootstrap-progressbar-3.3.0.css">
<link href="/static/gentelella/css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
